ul{
    list-style: none;
}

.tiles{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 16px;
    row-gap: 32px;
    margin: 32px 0;
    @media(min-width: 712px){
    grid-template-columns: 1fr 1fr;}
    @media(min-width: 1152px){
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.buttons-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 16px 0 32px;
    & > button {
        margin: 0 16px;
        width: 180px;
    }
}
